// Accents
$accent: #31A0E6;

// Button Colors
$blackB-BG: #272727;
$darkB-BG: #2a2c34;
$lightB-BG: #fff;
$orangeB-BG: #EB5F26;
$redB-BG: #AB1911;
$greenB-BG: #66AB11;
$purpleB-BG: #8e44ad;
$greyB-BG: #e0e0e0;
$pinkB-BG: #AB1191;